/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*----------------------------------------------------
リセット&汎用パーツ用スタイルシート
---------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------
clearfix
---------------------------------------------------- */
.clearfix:after, .cont:after, .contIn:after, .box:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix, .cont, .contIn, .box {
  min-height: 1px;
}
* html .clearfix, * html .cont, * html .contIn, * html .box {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/*----------------------------------------------------
display
---------------------------------------------------- */
.disFlex {display: flex !important;}
.disInBlock {display: inline-block !important;}
.disBlock {display: block !important;}
.disTable {display: table !important;}
.disTableCell {display: table-cell !important;}
/*----------------------------------------------------
position
---------------------------------------------------- */
.posiRl {
	position: relative;
}
/*----------------------------------------------------
Img
---------------------------------------------------- */
/*- フルードimg -*/
img{ max-width: 100%; height: auto;}
.ie8 img{ width: auto;}

/* 画像と文字の底辺の高さを揃える */
/*img { vertical-align: text-bottom;}*/

.bN{border:none !important;}

img.imgBorder {
	border-width: 1px;
	border-style: solid;
	border-color: #eee;
	padding: 2px;
}
a:hover img {
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}
.opa08 {
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}

/*----------------------------------------------------
ボックス  スマホ非表示
---------------------------------------------------- */
.boxSmahoNone{display: none;}
.boxSmahoNone02{display: none;}
.boxPcNone{display: block;}
.boxPcNone02{display: inline-block;}

/*----------------------------------------------------
font
---------------------------------------------------- */
.font12{font-size:1.2em !important;}
.font13{font-size:1.3em !important;}
.font14{font-size:1.4em !important;}
.font15{font-size:1.5em !important;}
.font16{font-size:1.6em !important;}
.font18{font-size:1.8em !important;}
.font20{font-size:2.0em !important;}
.font22{font-size:2.2em !important;}
.font24{font-size:2.4em !important;}
.font85{font-size:85% !important;}
.font90{font-size:90% !important;}
.font100{font-size:100% !important;}

.bold{font-weight:bold; !important;}
.under{text-decoration:underline; !important;}
.dell{text-decoration:line-through; !important;}

.alignCenter{text-align: center !important;}
.alignRight{text-align: right !important;}
.alignLeft{text-align: left !important;}
.alignVb {vertical-align: bottom !important;}
.alignVm {vertical-align: middle !important;}

.ofAuto {overflow: auto;}
.clear{clear: both;}

/*----------------------------------------------------
margin padding
---------------------------------------------------- */
.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;}
.mb60{margin-bottom:60px !important;}
.mb70{margin-bottom:70px !important;}
.mb80{margin-bottom:80px !important;}
.mb100{margin-bottom:100px !important;}
.mb130{margin-bottom:130px !important;}
.mb150{margin-bottom:150px !important;}

.mt0{margin-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt7{margin-top:7px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt100{margin-top:100px !important;}

.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}

.mr0{margin-right:0px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}

.p0{padding: 0 !important;}
.p10{padding: 10px !important;}
.p20{padding: 20px !important;}
.p30{padding: 30px !important;}
.p40{padding: 40px !important;}
.p50{padding: 50px !important;}

.pb0{padding-bottom:0 !important;}
.pb3{padding-bottom:3px !important;}
.pb5{padding-bottom:5px !important;}
.pb7{padding-bottom:7px !important;}
.pb10{padding-bottom:10px !important;}
.pb13{padding-bottom:13px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}

.pr0{padding-right:0 !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}

.pl0{padding-left:0 !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}

.pt0{padding-top:0px !important;}
.pt3{padding-top:3px !important;}
.pt5{padding-top:5px !important;}
.pt7{padding-top:7px !important;}
.pt10{padding-top:10px !important;}
.pt13{padding-top:13px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}

/* PC・タブレット用 769px以上　レイアウト
------------------------------------------------------------*/
@media only screen and (min-width: 769px){
	/*----------------------------------------------------
	ボックス  スマホ非表示
	---------------------------------------------------- */
	.boxSmahoNone{display: block;}
	.boxSmahoNone02{display: inline-block;}
	.boxPcNone{display: none;}
	.boxPcNone02{display: none;}

}
